<%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/header') %>
            <main>
                <h2 class="detailProduct"> Detalle del Producto:</h2>
                <h2 class="detailProduct">
                    <%= products.title %>
                </h2>
                <article class="detalles">
                    <div class="photos">
                        <img class="img-1" src="/images/<%= products.images[0].name %>" alt="">
                        <img class="img-2" src="/images/detail2.webp" alt="">
                        <img class="img-3" src="/images/detail1.avif" alt="">
                    </div>
                    <div class="info">
                        <p>
                            <em>
                                <%= products.description %>
                            </em>
                        </p>
                        <br>
                        <br>
                        <span class="price"><b>$ <%= products.price %> </b></span>
                    </div>
                </article>

                <%- include('partials/tips') %>
            </main>
            <%- include('partials/footer') %>