<%- include('partials/head') %>

    </head>

    <body>
        <%- include('partials/header') %>
            <main>
                <section class="products">
                    <h2> Detalle del Producto:</h2>
                    <h2><%= products.title %></h2>
                    <div class="detail">
                        <div class="info">
                            <p><em><%= products.description %></em></p>
                        </div>
                        <span class="price"><b>$ <%= products.price %> </b></span>
                        <div class="container-boton">
                            <div class="form-submit-button">
                                <input type="submit" value="Añadir a carrito">
                            </div>
                        </div>
                    </div>
                    <div class="photos">
                        <div class="img-galeria1">
                            <img src="/images/" alt="">
                        </div>
                        <div class="img-galeria2">
                            <img src="/images/detail2.webp" alt="">
                        </div>
                        <div class="img-galeria3">
                            <img src="/images/detail1.avif" alt="">
                        </div>
                    </div>
                </section>
                <%- include('partials/tips') %>
            </main>
            <%- include('partials/footer') %>