<%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/header') %>
            <main>
                <div class="containerHoteles">
                </div>
                <section class="destinos">
                    <span>Dulces sueños</span>
                    <h2>Hoteles</h2>
                    <div class="cards" id="listaProductos">
                        <% hoteles.forEach((hoteles)=> { %>
                            <article class="card">
                                <img src="../images/<%= hoteles.images[0].name %>" alt="Hotel">
                                <div class="destino">
                                    <h2 class="tCard">
                                        <%= hoteles.title %>
                                    </h2>
                                    <p class="subTcard2">
                                        <%= hoteles.description %>
                                    </p>
                                    <div>
                                        <span class="recomendado2 animate__animated animate__flash animate__slower animate__infinite"><b>$<%= hoteles.price %></b> por noche</span>
                                    </div>
                                    <button class="comprar3" data-id="<%= hoteles.id %>">Añadir</button>
                            </article>
                            <% }) %>
                    </div>
                </section>
                <%- include('partials/tips') %>
            </main>
            <%- include('partials/footer') %>