<%-include('partials/head') %>
    </head>

    <body>
        <%- include('partials/header') %>

            <main>
                <section class="loginForm">
                    <div class="container">
                        <div class="logo-container">
                            <img src="/images/logo.png" alt="Logo Volando Bajito">
                        </div>
                        <form action="/user/login" class="formulario" autocomplete="off" method="POST" id="login-formulario" autocomplete="off">
                            <h1 class="formulario__titulo">Ingresa a tu cuenta</h1>

                            <div class="form-box">
                                <input type="email" name="email" class="formulario__input" placeholder=" " id="email" required autofocus>
                                <label for="email" class="formulario__label">E-Mail</label>
                                <span class="formulario__line"></span>
                                <div class="register-error-message">
                                    <% if(typeof(errors) !='undefined' ){%>
                                            <%= errors[0].msg %>
                                        <%}%>
                                </div>
                            </div>

                            <div class="form-box">
                                <input type="password" name="password" class="formulario__input" placeholder=" " id="password" required>
                                <label for="password" class="formulario__label">Contraseña</label>
                                <span class="formulario__line"></span>
                                <div class="register-error-message">
                                    <% if(typeof(errors) !='undefined' ){%>
                                            <%= errors[0].msg %>
                                        <%}%>
                                </div>
                            </div>

                            <div class="recordar">
                                <input type="checkbox" name="remember_me">
                                <p class="pregunta">Recordarme</p>
                            </div>

                            <button class="btn-form" type="submit">ENVIAR</button>
                            <div class="preguntar">
                                <p class="pregunta">¿No estas registrado?</p>
                                <a class="ingresar" href="/user/register">Crea tu cuenta AQUI</a>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
            <%- include('partials/footer') %>