<%- include('partials/head') %>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="sectionPaquetes">
        </div>
        <section class="activities">
            <div class="titulo2">
                <span>Are you ready?</span>
                <h2>ACTIVIDADES</h2>
            </div>
            <div class="container-cards">
                <% activity.forEach((activity)=> { %>
                <article class="card-actividades">
                    <img src="../images/<%= activity.images[0].name %>" alt="">
                    <div class="destiny">
                        <h2 class="tCard2">
                            <%= activity.title %>
                        </h2>
                        <p class="subTcard2">
                            <%= activity.description %>
                        </p>
                        <div class="description2">
                            <span class="precio"><b>$<%= activity.price %></b></span>
                            <button class="comprar">Añadir a carrito</button>
                        </div>  
                    </div>
                </article>
                <% }) %>   
            </div>
        </section>
    </main>
    <%- include('partials/footer') %>