<%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/header') %>
            <main>
                <h2 class="detailProduct">Formulario de creación de productos</h2>
                <div class="create">
                    <img class="img-create" src="/images/llama.jpg" alt="Destinos de la Argentina">
                    <form class="formulario3" action="/create" method="POST" enctype="multipart/form-data">
                        <div class="form-box">
                            <input type="text" name="title" placeholder=" " class="formulario__input2">
                            <label for="title" class="formulario__label2">Nombre del producto:</label>
                            <div class="register-error-message">
                                <% if (locals.errors && locals.errors.title) { %>
                                    <p>
                                        <%= errors.title.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-box">
                            <input type="text" name="description" placeholder=" " class="formulario__input2">
                            <label for="description" class="formulario__label2">Descipción:</label>
                            <div class="register-error-message">
                                <% if (locals.errors && locals.errors.description) { %>
                                    <p>
                                        <%= errors.description.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-box">
                            <input type="number" name="price" placeholder=" " class="formulario__input2">
                            <label for="price" class="formulario__label2">Precio:</label>
                            <div class="register-error-message">
                                <% if (locals.errors && locals.errors.price) { %>
                                    <p>
                                        <%= errors.price.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-box">
                            <label for="image" class="label2">Imagen:</label>
                            <input type="file" name="image" class="formulario__input2">
                        </div>
                        <button class="btn-form" type="submit">CREAR</button>
                    </form>
                
        
            </main>

            <%- include('partials/footer') %>