<%- include('partials/head') %>
    </head>

    <body>
        <%- include('partials/header') %>
            <main>
                <h2 class="detailProduct">Estás editando:</h2>
                <h2 class="detailProduct">
                    <%= Product.title %>
                </h2>
                <div class="edit">
                    <img class="img-1" src="/images/<%= Product.images[0].name %>" alt="Destinos de la Argentina">
                    <form class="formulario2" action="/edit/<%= Product.id %>?_method=PUT" method="POST">

                        <div class="form-box">
                            <input type="text" name="title" placeholder=" " class="formulario__input2"
                                value="<%= Product.title %>">
                            <label for="title" class="formulario__label2">Nombre del producto: </label>
                            <div class="register-error-message">
                                <% if (locals.errors && locals.errors.title) { %>
                                    <p>
                                        <%= errors.title.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-box">
                            <input type="text" name="description" placeholder=" " class="formulario__input2"
                                value="<%= Product.description %>">
                            <label for="description" class="formulario__label2">Descipción:</label>
                            <div class="register-error-message">
                                <% if (locals.errors && locals.errors.description) { %>
                                    <p>
                                        <%= errors.description.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
                        <div class="form-box">
                            <input type="text" name="price" placeholder=" " class="formulario__input2"
                                value="<%= Product.price %>">
                            <label for="price" class="formulario__label2">Precio del producto: </label>
                            <div class="register-error-message">
                                <% if (locals.errors && locals.errors.price) { %>
                                    <p>
                                        <%= errors.price.msg %>
                                    </p>
                                    <% } %>
                            </div>
                        </div>
                        <button class="btn-form2" type="submit">ACTUALIZAR</button>
                    </form>
                </div>
            </main>
            <%- include('partials/footer') %>