<%-include('partials/head') %>
</head>

<body>
    <%- include('partials/header') %>

    <main>
        <section class="registro">
            <div class="logo-container">
                <img src="/images/logo.png" alt="Logo Volando Bajito">
            </div>
            <form action="/user/register" class="formulario" autocomplete="off" method="post" enctype="multipart/form-data">
                <h1 class="formulario__titulo">Crea tu cuenta</h1>

                <div class="form-box">
                    <input type="text" name="fullname" class="formulario__input" placeholder=" ">
                    <label for="fullname" class="formulario__label">Nombre y Apellido</label>
                    <div class="register-error-message">
                        <% if (locals.errors?.fullname) { %>
                            <strong>
                                <%= errors.fullname.msg %>
                            </strong>
                            <% } %>
                    </div>
                </div>

                <div class="form-box">
                    <input type="text" name="username" class="formulario__input" placeholder=" ">
                    <label for="username" class="formulario__label">Usuario</label>
                    <div class="register-error-message">
                        <% if (locals.errors?.username) { %>
                            <strong>
                                <%= errors.username.msg %>
                            </strong>
                            <% } %>
                    </div>
                </div>

                <div class="form-box">
                    <input type="text" name="email" class="formulario__input" placeholder=" ">
                    <label for="email" class="formulario__label">E-Mail</label>
                    <div class="register-error-message">
                        <% if (locals.errors?.email) { %>
                            <strong>
                                <%= errors.email.msg %>
                            </strong>
                            <% } %>
                    </div>
                </div>


                <div class="form-box">
                    <input type="password" name="password" class="formulario__input" placeholder=" ">
                    <label for="password" class="formulario__label">Contraseña</label>
                    <div class="register-error-message">
                        <% if (locals.errors?.password) { %>
                            <strong>
                                <%= errors.password.msg %>
                            </strong>
                            <% } %>
                    </div>
                </div>
                <div class="form-box">
                    <label for="avatar" class="label">Avatar</label>
                    <input type="file" name="avatar" class="formulario__input" placeholder=" ">
                </div>
                <button class="btn-form" type="submit">ENVIAR</button>
                <div class="preguntar">
                    <p class="pregunta">¿Ya estas registrado?</p>
                    <a class="ingresar" href="/user/login">Ingresa a tu cuenta</a>
                </div> 
            </form>
        </section> 
    </main>
    <%- include('partials/footer') %>